extends layout.pug

block content
  h1 Login
  if errors.length
    ul.error-list
      each error in errors
        li= error.msg
  form(action="/auth/login", method="POST")
    div
      label(for="username") Username:
      input(type="text", name="username", required)
    div
      label(for="password") Password:
      input(type="password", name="password", required)
    div
      button(type="submit") Login
  p Don’t have an account? #[a(href="/auth/register") Register here]