extends layout.pug

block content
  h1 Register
  if errors.length
    ul.error-list
      each error in errors
        li= error.msg
  form(action="/auth/register", method="POST")
    div
      label(for="username") Username:
      input(type="text", name="username", required)
    div
      label(for="password") Password:
      input(type="password", name="password", required)
    div
      button(type="submit") Register
  p Already have an account? #[a(href="/auth/login") Login here]